#Ignore all files
/*
/.*

#managing files
!.gitignore
!.gitignore_global

#Emacs Setting files
!/.emacs
!/.elisp
/.elisp/.nosearch

#bash configure
!/.bash_profile
!/.bashrc
!/.bash_logout

#Git configure
!/.gitconfig
!/.git-completion.bash
!/.git-prompt.sh
