[core]
        excludesfile = "~/.gitignore_global"
[user]
	name = Ichinose Shogo
	email = shogo82148@gmail.com
[color]
	ui = auto
[alias]
        st = status
        co = checkout
        ci = commit
        br = branch
        graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
	pr-setup = config --add remote.origin.fetch +refs/pull/*/head:refs/remotes/origin/pr/*
        delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
	branch-name = rev-parse --abbrev-ref HEAD
	git = !git \"$@\"
[push]
	default = simple
[ghq]
	root = ~/src
[credential]
	helper = !aws --region us-east-1 --profile CodeCommitProfile codecommit credential-helper $@
	UseHttpPath = true
