[core]
        excludesfile = "~/.gitignore_global"
[user]
	name = Ichinose Shogo
	email = shogo82148@gmail.com
[color]
	ui = auto
[alias]
        st = status
        co = checkout
        ci = commit
        br = branch
        graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
