#Ignore all files
/*
/.*

#managing files
!.gitignore

#Emacs Setting files
!/.emacs
!/.elisp

#bash configure
!/.bash_profile
!/.bashrc

#Git configure
!/.gitconfig
!/.git-completion.bash
!/.git-prompt.sh
